<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <style>
            body{
                margin: 0;
                padding: 0;
                background: #727272;
                color: #ffffff;
            }

            #life{
                margin: 20px;
            }

            .margin_bottom{
                margin-bottom: 10px;
            }

            #canvas{
                -moz-user-select: none;
                -khtml-user-select: none;
                -webkit-user-select: none;
            }

            #canvas div {
                border-right: 1px solid #616161;
                border-bottom: 1px solid #616161;
                float: left;
                box-sizing: border-box;
            }
        </style>
    </head>
    <body>
        <div id="life" class="margin_bottom">
            <h1 v-if="gameOver">Game Over!</h1>
            <div v-bind:style="canvasStyle()" id="canvas" class="margin_bottom">
                <template v-for="row in rows">
                    <div v-for="cell in row"
                         v-bind:style="cellStyle(cell)"
                         v-on:click="(cell.status)?cell.status = false:cell.status = true"
                         v-on:mouseover="mouseHover(cell)"
                    >
                    </div>
                </template>
            </div>

            <div class="margin_bottom">Passos: {{passos}}</div>

            <div class="margin_bottom">
                Tamanho:
                <label><input v-model="tamanhoGrid" type="radio" value="100"> 25</label>
                <label><input v-model="tamanhoGrid" type="radio" value="200"> 100</label>
                <label><input v-model="tamanhoGrid" type="radio" value="400"> 400</label>
                <label><input v-model="tamanhoGrid" type="radio" value="500"> 625</label>
                <label><input v-model="tamanhoGrid" type="radio" value="600"> 900</label>
            </div>

            <div>
                <button type="button" v-on:click="limpar">Limpar</button>
                <button type="button" v-on:click="reiniciarGrid">Aleatório</button>
                <button type="button" v-on:click="proximaSimulacao">Próximo passo</button>
                <button type="button" v-on:click="iniciar" v-bind:style="{backgroundColor: (estaJogando)? 'green' : ''}">Iniciar</button>
                <button type="button"
                        v-on:click="estaJogando = false"
                        v-bind:style="{backgroundColor: (estaJogando)? '' : 'green'}">
                    Parar
                </button>
            </div>
        </div>

        <script>
            var life = new Vue({
                el: '#life',
                data: {
                    tamanhoGrid: 400,
                    tamanhoCelula: 20,
                    velocidadeSimulacao: 500,
                    countPassosAnteriores: 10,
                    canvasStyle: function () {
                        return {
                            width: this.tamanhoGrid,
                            height: this.tamanhoGrid,
                        }
                    },
                    cellStyle: function (cell) {
                        return {
                            width: this.tamanhoCelula,
                            height: this.tamanhoCelula,
                            backgroundColor: cell.status ? '#28b728' : '#ffffff'
                        }
                    },
                    elementosVivos: 0,
                    passos: 0,
                    rows: [],
                    estaJogando: false,
                    intervalo: 0,
                    timeOut: 0,
                    gameOver: false,
                    passosAnteriores: [],
                    mouseDown: 0,
                    wCanvas: 100,
                    hCanvas: 100
                },
                watch: {
                    tamanhoGrid: function () {
                        this.redimensionarGrid();
                    },
                    tamanhoCelula: function () {
                        this.redimensionarGrid();
                    },
                    velocidadeSimulacao: function () {
                        clearTimeout(this.timeOut);
                        this.timeOut = setTimeout(function () {
                            clearInterval(life.intervalo);
                            if (life.estaJogando) {
                                life.iniciar();
                            }
                        }, 300);
                    }
                },
                methods: {
                    getCelulas: function () {
                        var rows = [];
                        for (var i = 0; i < this.tamanhoGrid / this.tamanhoCelula; i++) {
                            var cells = [];

                            for (var b = 0; b < this.tamanhoGrid / this.tamanhoCelula; b++) {
                                cells.push({
                                    status: false
                                });
                            }

                            rows.push(cells);
                        }

                        return rows;
                    },
                    reiniciarGrid: function () {
                        this.rows.map(function (row) {
                            return row.map(function (cell) {
                                cell.status = Math.round(Math.random());
                                if (cell.status) {
                                    life.elementosVivos++;
                                }

                                return cell.status;
                            });
                        });

                        this.gameOver = false;
                        this.passos = 0;
                    },
                    proximaSimulacao: function () {
                        var nextStep = [];
                        var rows = this.rows;
                        this.elementosVivos = 0;

                        this.rows.forEach(function (row, i) {
                            nextStep[i] = [];
                            row.forEach(function (cell, b) {
                                var neighbors = 0;

                                if (i) {
                                    var topRow = rows[i - 1];
                                    neighbors += life.vizinhoVivo(topRow[b - 1]);
                                    neighbors += life.vizinhoVivo(topRow[b]);
                                    neighbors += life.vizinhoVivo(topRow[b + 1]);
                                }

                                neighbors += life.vizinhoVivo(row[b - 1]);
                                neighbors += life.vizinhoVivo(row[b + 1]);

                                if (i + 1 != life.tamanhoGrid / life.tamanhoCelula) {
                                    var bottomRow = rows[i + 1];
                                    neighbors += life.vizinhoVivo(bottomRow[b - 1]);
                                    neighbors += life.vizinhoVivo(bottomRow[b]);
                                    neighbors += life.vizinhoVivo(bottomRow[b + 1]);
                                }

                                var newCell = {status: cell.status};

                                if (!cell.status) {
                                    if (neighbors == 3) {
                                        newCell.status = true;
                                    }
                                } else {
                                    if (neighbors < 2 || neighbors > 3) {
                                        newCell.status = false;
                                    }
                                }

                                if (newCell.status) {
                                    life.elementosVivos++;
                                }

                                nextStep[i][b] = newCell;
                            });
                        });


                        if (this.testaPasso(this.rows, nextStep)
                            && this.testaPassos(nextStep)
                            && this.elementosVivos) {

                            this.passosAnteriores.push(JSON.parse(JSON.stringify(this.rows)));

                            if (this.countPassosAnteriores < this.passosAnteriores.length) {
                                this.passosAnteriores.splice(0, 1)
                            }

                            this.rows = nextStep;
                            life.passos++;
                            return true;
                        }

                        this.rows = nextStep;
                        this.gameOver = true;
                        this.estaJogando = false;
                        return false;
                    },
                    vizinhoVivo: function (neighbor) {
                        if (neighbor !== undefined) {
                            if (neighbor.status) {
                                return 1;
                            }
                        }

                        return 0;
                    },
                    iniciar: function () {
                        this.passos = 0
                        this.estaJogando = true;
                        this.gameOver = false;

                        clearInterval(life.intervalo);
                        this.intervalo = setInterval(function () {
                            if (life.estaJogando && !life.gameOver) {
                                life.proximaSimulacao();
                            }
                        }, this.velocidadeSimulacao);
                    },
                    limpar: function () {
                        this.rows.map(function (row) {
                            return row.map(function (cell) {
                                cell.status = false;
                            });
                        });

                        this.estaJogando = false;
                        this.gameOver = false;
                        this.passos = 0;
                    },
                    testaPasso: function (primeiroPasso, segundoPasso) {
                        var count = 0;
                        primeiroPasso.forEach(function (row, i) {
                            if (segundoPasso[i] == undefined || count) {
                                count++;
                                return;
                            }

                            return row.forEach(function (cell, b) {
                                if (segundoPasso[i][b] == undefined) {
                                    count++;
                                    return;
                                }

                                if (segundoPasso[i][b].status != cell.status) {
                                    count++;
                                    return;
                                }
                            });
                        });

                        return count;
                    },
                    testaPassos: function (nexStep) {
                        var valido = false;

                        if (!this.passosAnteriores.length) {
                            return true;
                        }

                        this.passosAnteriores.forEach(function (checkStep) {
                            valido = true;

                            if (!life.testaPasso(nexStep, checkStep)) {
                                valido = false;
                                return;
                            }
                        });

                        return valido;
                    },
                    redimensionarGrid: function () {
                        var arrNovaLinha = this.getCelulas();
                        this.rows = arrNovaLinha.map(function (row, i) {
                            if (life.rows[i] != undefined) {
                                return row.map(function (cell, b) {
                                    if (life.rows[i][b] != undefined) {
                                        return life.rows[i][b];
                                    }

                                    return cell;
                                })
                            }

                            return row;
                        });
                    },
                    mouseHover: function (cell) {
                        if (this.mouseDown) {
                            cell.status = true;
                        }
                    }
                },
                mounted: function () {
                    this.rows = this.getCelulas();
                    this.$nextTick(function () {
                        document.body.onmousedown = function() {
                            life.mouseDown++;
                        }
                        document.body.onmouseup = function() {
                            life.mouseDown--;
                        }

                        life.reiniciarGrid();
                        life.iniciar();
                    });
                }
            });
        </script>
    </body>
</html>